.main {
    width: 65vw;
    height: 93vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
}
.group {
    width: 15vw;
    min-width: 18vw;
    min-height: 15rem;
    border: 1px solid gray;
    border-radius: 1vw;
    margin: 1vw;
    height: max-content;
    background-color: rgb(239, 209, 120);
    overflow: hidden;
    padding: 0;
    h4 {
        position: relative;
        left: -1vw;
        margin: 0, 0, 0, 1vw;
    }
}
.link {
    width: 20vw;
    cursor: pointer;
    &:hover {
        opacity: 0.5;
    }
}
.addLink {
    margin-top: 1vw;
    border: none;
    background-color: inherit;
    padding-top: 0.1vw;
    cursor: pointer;
    position: relative;
    left: 9vw;
    width: 1vw;
    &:hover {
        color: red;
    }
}
.delGroup {
    position: relative;
    left: 13vw;
    display: inline;
    &:hover {
        color: red;
    }
}
.headerGroup {
    display: inline-block;
    width: 10vw;
}