.right {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 93vh;
    border: 1px solid rgba(101, 97, 97, 0.5);
    position: relative;
    left: 11vw;
}
.info {
    padding: 1vw;
    overflow: hidden;
}
.conteinerLink {
    width: 12vw;
    border-radius: 1vw;
    background-color: rgb(103, 21, 210);
    padding: 3vw;
    color:white;
    word-wrap:break-word;
}
.boxButton {
    display: flex;
    visibility: visible;
}
.button {
    color: white;
    position: relative;
    border-radius: 0.7vw;
    width: 6vw;
    margin-right: 2vw;
    background-color:rgb(13, 12, 12);
    height: 2rem;
    cursor: pointer;
    &:hover {
        background-color: rgb(50, 48, 48);
    }
}
.iframe {
    margin: 0;
    margin-top: 2vw;
    min-width: 20vw;
    height: auto;
    padding: 0;
    iframe {
        width: 18vw;
        height: 30vh;
        margin: 0;
    }
}
@media only screen and (max-width: 1000px) {
    .right {
        width: 97vw;
        height: auto;
        position: fixed;
        bottom: 0;
        left: 0;
        h4, p {
            margin: 0;
        }
    }
    .iframe {
        display: none;   
    }
    .conteinerLink {
        width: 97vw;
    }
    .button {
        width: 20vw;
    }
}