.about {
    margin: 3vh  10vw;
    overflow: auto;
    width: 55vw;
    background-color: rgb(103, 21, 210);
    padding: 1vh 3vw;
    color: white;
    word-wrap: break-word;
    border-radius: 1vw;
    position: relative;
    left: 15vw;
}

.feedback {
    margin: 3vh 10vw;
    overflow: hidden;
    width: 55vw;
    background-color: rgb(103, 21, 210);
    color: white;
    word-wrap: break-word;
    border-radius: 1vw;
    padding: 3vh 3vw 1vw;
    position: relative;
    left: 15vw;
    button {
        display: block;
        background-color: rgb(13, 12, 12);
        cursor: pointer;
        margin: 2vh 30vw;
        height: 6vh;
        color: white;
        text-align: center;
        border-radius: 0.5vw;
        &:hover {
            background-color: rgb(32, 27, 33);
        }
    }
    div {
        margin: 2vh 0;
    }
    .name {
        border-radius: 0.5vw;
        margin-left: 2vw;
        height: 1.5rem;
    }
    .contact {
        border-radius: 0.5vw;
        margin: 0 0 1vh 1.2vw;
        height: 1.5rem;
    }
   .text {
    width: 50vw;
    height: 12vh;
    border-radius: 0.5vw;
    margin-left: 1vw;
   }
}
@media only screen and (max-width: 1000px) {
    .main {
        overflow-y: auto;
    }
    .about {
        width: 90vw;
        border-radius: 3vw;
        margin: 1vh 1vw;
        left: -1vw;
        top: 22vh
    }
    .feedback {
        margin: 1vh 1vw 20vh;
        width: 90vw;
        height: auto;
        border-radius: 3vw;
        left: -1vw;
        top: 22vh;
        padding: 0 3vw 1vw;
        
        button {
            display: block;
            margin: 0 ;
            min-height: 3vh;
            width: 15vw;
            position: relative;
            left: 70vw;
        }
        .text {
            display: block;
            width: 60vw;
            height: 5vh;
        }
    }
    .content {
        width: 90vw;
        height: 5vh;
        margin: 0;
    }
    
    .form {
        width: 90vw;
        padding: 1vw;
        padding-bottom: 5vh;
    }
}