
.language {
    button{
        height: 1.5rem;
        border-radius: 0.5vw;
        background-color: rgb(103, 21, 210);
        color: white;
        cursor: pointer;
        &:hover {
            background-color: rgb(168, 123, 227);
        }
    }
}
.menu {
    position: fixed;
    width: 14vw;
    padding: 1vw ;
    margin: -5px;
    background-color: rgb(13, 12, 12);
    color: white;
    height: 99vh;
}

.boxButton {
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.create {
    color: white;
    position: relative;
    border-radius: 0.7vw;
    width: 10vw;
    background-color: rgb(103, 21, 210);
    height: 2.5rem;
    margin-bottom: 2vw;
    cursor: pointer;
    &:hover {
        background-color: rgb(168, 123, 227);
    }
}
.buttonMenu {
    width: 10vw;
    background-color:rgb(13, 12, 12, 0.5);
    cursor: pointer;
    margin: 0.3vw 0;
    height: 2.5rem;
    color: white;
    text-align: start;
    border-radius: 0.5vw;
    &:hover {
        background-color: rgb(32, 27, 33);
    }
}
@media only screen and (max-width: 1000px) {
    .menu{
        width: 99vw;
        height: 22vh;
        z-index: 100;
    }
    .create {
        width: 20vw;
        position: relative;
        top: 0.5vh
    }
    .boxButton {
        position: fixed;
        top: 5vh;
        flex-direction: row;
        left: 1vw;
    }
    .buttonMenu {
        width: 19vw;
        align-items: start;
        height: 6vh;
        overflow: hidden;
    }
}