.right {
    display: flex;
    flex-direction: column;
    width: 20vw;
}
.info {
    height: 45vh;
    border: 1px solid rgba(101, 97, 97, 0.5);
}
.last {
    height: 45vh;
    border: 1px solid rgba(101, 97, 97, 0.5);
}