.modalWindow {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 23rem;
    position: fixed;
    top: 25vh;
    left: 30vw;
    border: 5px solid rgb(103, 21, 210);
    border-radius: 1vw;
    padding: 1VW;
    background-color: rgb(13, 12, 12);
    color: white;
    visibility: hidden;

    span {
        display: inline-block;
        width: 10vw;
    }
}

.boxField {
    justify-content: start;
}

.name {
    margin: 1vw;
    height: 1.5rem;
    width: 20vw;
    display: inline;
    border-radius: 0.3vw;
}

.content {
    margin: 1vw;
    height: 8rem;
    width: 30vw;
    border-radius: 0.3vw;
}

.add {
    margin-top: 1vw;
    width: 5vw;
    height: 3rem;
    position: relative;
    left: 20vw;
    cursor: pointer;
    border-radius: 0.5vw;
    background-color: rgb(103, 21, 210);
    color: white;

}

.close {
    width: 1vw;
    height: 1.1vw;
    padding: 0;
    position: relative;
    left: 34vw;
    cursor: pointer;
}