.cont {
    display: flex;
    flex-direction: column;
    width: 51vw;
    height: 90vh;
    position: relative;
    left: 16vw;
    overflow-y: scroll;
    overflow-x: hidden;
}
.note {
    display: flex;
    min-height: 5vh;
    width: 48vw;
    border: 1px solid black;
    padding: 0.5vw;
    margin: 0.5vw;
    border-radius: 0.5vw;
    background-color: rgb(118, 186, 241);
    cursor: pointer;
}
.nameNote {
    overflow: hidden;
    width: 75vw;
}
.edit {
    position: relative;
    margin-right: 1vw;
    cursor: pointer;
    &:hover {
        color: red;
    }
}
.trash {
    position: relative;
    cursor: pointer;
    &:hover {
        color: red;
    }
}
.plus {
    width: 30px;
    height: 30px;
    padding:  10px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    background-color: rgb(103, 21, 210);
    border-radius: 0.5vw;
    color: white;
    position: relative;
    left: 23vw;
    cursor: pointer;
    &:hover {
        background-color: rgb(168, 123, 227);
    }
}
@media only screen and (max-width: 1000px) {
    .cont {
        width: 98vw;
        height: 57vh;
        position: relative;
        left: 1vw;
        overflow-y: auto;
        overflow-x: hidden;
        top: 24vh;
        align-items: start;
    }
    .note {
        display: flex;
        height: 4vh;
        width: 90vw;
        margin: 1vw;
    }
    .plus {
        border-radius: 3vw;
        left: 40vw;
        margin: 3vw;
    }
    .nameNote {
        overflow: hidden;
        width: 75vw;
        height: 4vh;
    }
}