.side {
    border: 1px solid rgba(101, 97, 97, 0.5);
    width: 29vw;
    margin: 0;
}

.info {
    border: 1px solid rgba(101, 97, 97, 0.5);
    margin: 1vw;
    overflow: hidden;
    width: 21vw;
    background-color: rgb(103, 21, 210);
    padding: 3vw;
    color: white;
    word-wrap: break-word;
    border-radius: 1vw;
}
